.flag-sizeL {
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flag-sizeM {
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-sizeS {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-timeline-element {
  width: 100%;
}

.vertical-timeline-element-title {
  font-size: 18px;
}
.vertical-timeline-element-subtitle{
  font-size: 16px;
}
.vertical-timeline-element-content{
  font-size: 15px;
}

.hrefverticalelement{
  /* color: black; */
  color: white;
}
.hrefverticalelement::after {
  content: "\2197"; /* Unicode arrow character code for top right arrow */
  position: relative;
  top: -5px;
  right: 0px;
  font-size: 16px;
}

.popacity {
 background: #33475B;
 padding: 10px;
}

.popacitydanger {
  background: #b81d1d;
  padding: 10px;
 }

.two-column-layout {
  display: flex; /* Use flexbox for a simple two-column layout */
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content {
  flex:1; /* Take up remaining space in the container */
  /*margin-right: 50px;*/
  margin-right: 50px;
  min-width: 350px;
}

@media only screen and (max-width: 600px) {
  .main-content {
    flex:1; /* Take up remaining space in the container */
    margin-right: 0px;
  }
 /* .category-box {
    max-width: 60%; /* Adjust this value as needed */ 
  /*}
 */
}

.sidebarcv {
  margin-right: 0px;
  width: '100%'; /* Adjust the width of the sidebar as needed */ 
  flex-basis: 300px; /* Set the width of the sidebar */
  /* Add any other styling for the sidebar */
}

.category-box {
  width: 100%;
  color: white;
  background: rgb(44, 62, 80);
  padding: 10px;
  margin: 5px;
  margin-bottom: 25px;
  cursor: pointer;
  display: inline-block;
  borderRadius: 5px;
  box-sizing: border-box;
}

/* Styling backgroung image */
.landing-background {
  min-height: 100vh;
  background-image: url('/Moine_Embedded_Image.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(30, 30, 30, 0.7); /* Adjust opacity as needed */
  z-index: 0;
  pointer-events: none;
}

.landing-background > * {
  position: relative;
  z-index: 1;
}

.landing-content {
  background: rgba(30, 30, 30, 0.7); /* dark, semi-transparent */
  padding: 2rem;
  border-radius: 1rem;
}